<nav>
   <ul class="nav">
      <li><a href="{{url_for('pages.home')}}" class="button">Home</a></li>
      <li><a href="{{url_for('pages.about')}}" class="button">About</a></li>
      <li><a href="{{url_for('pages.posts')}}" class="button">Posts</a></li>
      <li><a href="{{url_for('pages.create')}}" class="button">Create</a></li>
   </ul>
   <ul class="accounts">
      <li><a class="login" href="{{url_for('pages.signup')}}"></a></li>
      <li><a class="login" href="{{url_for('pages.login')}}"></a></li>
   </ul>
</nav>